* {
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10%;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 150px;
    height: 160px;
    font-size: 90px; 
}

